section {
    max-width: 950px;
    margin: 40px auto;
    padding: 40px 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
    margin-left: 5%;
  }
  
  section h1 {
    font-size: 2rem;
    color: #357ABD;
    margin-bottom: 25px;
    letter-spacing: 1px;
    text-align: center;
  }
  
  section p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555555;
    text-align: justify;
    white-space: pre-wrap;
    
  }

  section span {
    color: #357ABD;
    font-size: 2.5rem;
  }
  
  