.produits-catalogue{
    margin-top: 100px;
    text-align:center
}

.produits-catalogue h3{
    color: #357ABD;
}

.produits-catalogue h2{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2.5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10%;
}

.produit-img{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 0%;
    text-align: center;
    justify-content:space-around;
    padding: 10px;
}

.card {
    width: 260px;
    position: relative;
    text-align: center;
    margin-top: 25px;
  }
  
  .card-image-container {
    position: relative;
    cursor: pointer;
  }
  
  .card-image-container img {
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s;
  }
  
  .card-image-container:hover img {
    transform: scale(1.03);
  }
  
  .card-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    width: 100%;
    padding: 8px;
    font-size: 0.85rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    opacity: 0;
    transition: 0.3s ease;
  }
  
  .card-image-container:hover .card-overlay {
    opacity: 1;
  }
  
  .sous-produit {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  
  .sous-produit button {
    background-color: FCF5E5;
    color: black;
    font-weight: bold;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    width: 100%;
    transition: background-color 0.2s;
  }
  
  .sous-produit button:hover {
    background-color: #0056b3;
  }
  